extends layout

block content
  include nav.pug
  h1= title
  p Welcome to #{title}
  if currentUser
    a(href="/messageForm") Send Message
  section 
    each post in post_list 
      div 
        h2 #{post.title} 
        p #{post.message}
        p #{post.user.username}
        p #{post.date_diff}

